* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b2f;
    color: #fff;
    line-height: 1.6;
    background-image: url("images/Body3.png");
    background-position: 0px 150px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: -2;
    overflow: visible;
    overflow-x: hidden;

}

header {
    position: relative;
    padding: 50px;
    height: 150px;
    z-index: 1;
    border-bottom: 5px solid #ffffff;

}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #162447;
    background-image: url("images/Test Loop.gif");
    background-position: 0px -300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
} 

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav ul li {
    font-size: 1.8rem;
    margin: 0 75px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
/*หน้าHome*/
.h1 {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    align-items: center;
    
}

.h-home h1 {
    font-size: 2.5rem;

}

.h-home h2 {
    font-size: 3.5rem;
    margin-bottom: -10px;
}

.h-home h3 span {
    color: #00ffff;

}

.h-home h3 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;

}

.license h1 {
    display: flex;
    position: fixed;
    bottom: 30px;
    left: 300px;
    font-size: 1.0rem;

}

.facebook {
    display: inline;

}

.instagram {
    margin-left: 20px;
    display: inline;

}

img {
    display: flex;
    position: center;
    max-width: 100%;
    max-height: 600px;
    height: auto;
    border-radius: 12px;

}

/*หน้าAbout*/

.h2 {
    display: flex;
    padding: 60px 200px;
    align-items: center;

}

.h-about {
    position: relative;

}

.h-about h1 {
    font-size: 1.5rem;

}

.h-about h1 span {
    color: #00ffff;

}

.h-about h2 {
    font-size: 1.5rem;

}

.h-about h2 span {
    color: #00ffff;

}

.h-about h3 {
    font-size: 1.5rem;

}

.h-about h3 span {
    color: #00ffff;

}

.h-about h4 {
    font-size: 1.5rem;

}

.h-about h4 span {
    color: #00ffff;

}

.h-about h5 {
    font-size: 1.5rem;

}

.h-about h5 span {
    color: #00ffff;

}

.h-about h6 {
    margin-bottom: 130px;
    font-size: 1.5rem;

}

.h-about h6 span {
    color: #00ffff;

}

.h-aboutme {
    position: fixed;

}

.h-aboutme h1 {
    top: 630px;


}

.h-image2 img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    position: relative;
    bottom: -50px;
    right: -350px;

}

.clickable-text {
    color: #00ffff;

}

.h-about h6 span a {
    font-size: 1.5rem;
    text-decoration: inherit;
    color: #00ffff;

}

.h-aboutme h1 {
    position: fixed;
    bottom: 500px;
    left: 200px;
    font-size: 1.0rem;

}
  
#openPopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.popup-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    background-color: #192236;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);

}
  
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: black;

}

.popup-content ul {
    list-style-type: none;
    padding: 0;
}
  
.popup-content ul li {
    color: rgb(255, 255, 255);
    padding: 8px 0;
    border-bottom: 1px solid #ffffff;
}

.popup-content ul li span {
    color: #00ffff;
    opacity: 0.6;
    padding: 8px 0;
}

/*หน้าeducation*/

.h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h-education h1 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
    left: 755px;
}

.h-education p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 390px;
    left: 1030px;
}

.h-education p1 {
    font-size: 20px;
    position: absolute;
    top: 450px;
    left: 1030px;

}

.h-education p2 {
    font-size: 20px;
    position: absolute;
    top: 490px;
    left: 1030px;

}

.h-education p3 {
    font-size: 20px;
    position: absolute;
    top: 530px;
    left: 1030px;

}

.h-education p4 {
    font-size: 20px;
    position: absolute;
    top: 610px;
    left: 1030px;

}

.h-education p5 {
    font-size: 20px;
    position: absolute;
    top: 650px;
    left: 1030px;

}

.h-education p6 {
    font-size: 20px;
    position: absolute;
    top: 690px;
    left: 1030px;

}

.h-education p7 {
    font-size: 20px;
    position: absolute;
    top: 730px;
    left: 1030px;

}

.h-education p8 {
    font-size: 20px;
    position: absolute;
    top: 840px;
    left: 1030px;

}

.h-education h2 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 1000px;
    left: 925px;
}

.h-education p9 {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 1180px;
    left: 1030px;
}

.h-education p10 {
    font-size: 20px;
    position: absolute;
    top: 1240px;
    left: 1030px;

}

.h-education p11 {
    font-size: 20px;
    position: absolute;
    top: 1280px;
    left: 1030px;

}

.h-education p12 {
    font-size: 20px;
    position: absolute;
    top: 1320px;
    left: 1030px;

}

.h-education p13 {
    font-size: 20px;
    position: absolute;
    top: 1400px;
    left: 1030px;

}

.h-education p14 {
    font-size: 20px;
    position: absolute;
    top: 1440px;
    left: 1030px;

}

.h-education p15 {
    font-size: 20px;
    position: absolute;
    top: 1480px;
    left: 1030px;

}

.h-education p16 {
    font-size: 20px;
    position: absolute;
    top: 1520px;
    left: 1030px;

}

.h-education p17 {
    font-size: 20px;
    position: absolute;
    top: 1630px;
    left: 1030px;

}

.h-education h3 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: -80px;
}

.h-education p18 {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: -330px;
}

.h-education p19 {
    font-size: 20px;
    position: absolute;
    top: 360px;
    left: -330px;

}

.license1 h1 {
    display: flex;
    position: absolute;
    bottom: -1100px;
    left: 300px;
    font-size: 1.0rem;

}

.h-image3 {
    display: flex;
    position: relative;
    width: 2000px;

}

.h-image3 img {
    width: 35%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -1310px;
    left: -750px;
    border-radius: 12px;
    z-index: 0;
}

.h-image3 #openPopup-image:hover {
    opacity: 0;
}

.h-image3 #openPopup-image {
    cursor: pointer;
}

.popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content-image {
    position: relative;
    margin: 10% auto;
    width: 35%;
    text-align: center;
    overflow: visible;
}

.close-image {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    z-index: 999;
    transition: transform 0.3s ease;

}

.popup-content-image img {
    width: 100%;
    border-radius: 12px;
    z-index: 1;
}

.zoom-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    position: relative;
}

.popup-content-image:hover .zoom-image {
    transform: scale(1.5);
}

.popup-content-image:hover .close-image {
    font-size: 45px;
    transform: translate(170px, -147px);

}

.h-image3-1 {
    display: flex;
    position: relative;
    width: 2000px;
}

.h-image3-1 img {
    width: 35%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -440px;
    left: -750px;
    border-radius: 12px;
    z-index: 0;
}

.h-image3-1 #openPopup-image-1:hover {
    opacity: 0;
}

.h-image3-1 #openPopup-image-1 {
    cursor: pointer;
}

.popup-image-1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content-image-1 {
    position: relative;
    margin: 10% auto;
    width: 35%;
    text-align: center;
    overflow: visible;
}

.close-image-1 {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    z-index: 999;
    transition: transform 0.3s ease;

}

.popup-content-image-1 img {
    width: 100%;
    border-radius: 12px;
    z-index: 1;
}

.zoom-image-1 {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    position: relative;
}

.popup-content-image-1:hover .zoom-image-1 {
    transform: scale(1.5);
}

.popup-content-image-1:hover .close-image-1 {
    font-size: 45px;
    transform: translate(170px, -147px);

}

/*หน้าSkills*/

h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h-skills h1 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
    left: 500px;
}

.h-skills h2 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
    left: 1300px;
}

.h-skills p1 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 370px;
    left: 500px;

}

.h-skills p2 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 470px;
    left: 500px;

}

.h-skills p3 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 570px;
    left: 500px;

}

.h-skills p4 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 670px;
    left: 500px;

}

.h-skills p5 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 770px;
    left: 500px;

}

.h-skills p6 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 370px;
    left: 1300px;

}

.h-skills p7 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 470px;
    left: 1300px;

}

.h-skills p8 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 570px;
    left: 1300px;

}

/*หน้าcontact*/

h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h-contact h1 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 380px;
}

.h-contact h2 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 880px;
}

.h-contact h3 {
    font-size: 40px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 1400px;
}

.h-contact p1 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    left: 260px;

}

.h-contact p2 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    left: 815px;

}

.h-contact p3 {
    font-size: 30px;
    position: absolute;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    left: 1415px;

}

.vertical-line {
    margin-top: 130px;
    margin-left: 780px;
    width: 3px;
    height: 400px;
    background-color: #ffffff;

}

.vertical-line2 {
    margin-top: -400px;
    margin-left: 1305px;
    width: 3px;
    height: 400px;
    background-color: #ffffff;

}